:root {

    --Header-Background: #01295f;
    --Header-Foreground: #ffffff;

    --Nav-Background: #5b8dde;
    --Nav-Foreground: #ffffff;

    --Footer-Background: #e1e1e1;
    --Footer-Foreground: #000000;
}