<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../res/css/backend/style.css">
    <link rel="stylesheet" href="../../../res/css/backend/fonts.css">

</head>
<body>

    <header>
        <h1>LCMS</h1>
    </header>
    <nav>
        <a href="">Dashboard</a>
        <a href="?view=pages">Pages</a>
        <a href="?view=posts">Posts</a>
        <a href="?view=media">Media</a>
        <a href="?view=usermanager">Usermanager</a>
    </nav>
    <main>
        <h1>Welcome!</h1>
    </main>
    <footer>
        LCMS - Copyright &copy; 2024 Léon Kirstein
        <a href="logout.php">Logout</a>
    </footer>

</body>
</html>